<form>
    <div>The custom Javascript Module must export a mapper object of type baseProvider</div>
    <div>imports must have a correct and full URI</div>
    <div>Example:</div>
    <div class="code javascript"><pre><code>{{ exampleCode }}</code></pre></div>
<textarea id="actor-export-custom-provider-javascript">{{ customProvider }}</textarea>
<div class="form-group buttons">
    <button type="submit">
        <i class="fa-regular fa-save"></i> Save Changes
    </button>
    <button type="reset">
        <i class="fa-solid fa-undo"></i> Undo
    </button>
</div>
</form>