.provider.name {
    font-weight: bold;
    font-size: 16px;
}

.provider.file_name input[type=checkbox] {
    width: 16px;
    height: 16px;
    margin: 0 3px;
}

.provider.file_description {
    margin-left: 25px;
    margin-bottom: 5px;
    font-size: 12px;
}

.provider.info {
    margin-bottom: 5px;
}

.actions button {
    width: 100px;
}

#actor-export-custom-provider-javascript {
    background-color: #ffffff;
    height: 200px;
    width: 100%;
}

.code.javascript pre {
    background-color: #000;
    color: #fff;
    font-family: monospace;
    padding: 10px;
}

#actor-export-spinner-canvas {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: calc(100% + 16px);
    height: calc(100% + 16px);
    margin: -8px;
    background: rgba(0, 0, 0, 0.2);
}

#actor-export-spinner {
    border: 16px solid var(--bg);
    border-radius: 50%;
    border-top: 16px solid var(--primary);
    width: 150px;
    height: 150px;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
    margin: auto;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

